{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="news__page">
    <div class="content">
        <div class="left__side">
            <h1 class="tags__title">News</h1>
            <div class="tags">
                <a href="" class="tag__link">All</a>
                {% for tag in tags %}
                    <a href="" class="tag__link">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="right__side">
            <h1 class="articles__title">Gaming news</h1>
            <div class="articles">
                {% for article in articles %}
                <div class="card">
                    <a href="{{ article.url }}" target="_blank" class="article__link">{{ article.title }}</a>
                    <p>{{ article.short_description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

