* {
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: orange;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 99;
}

.cart__link {
    position: absolute;
    left: 90%;
    top: 22%;
}

.cart__link img {
    width: 25px;
}

.cart__items {
    color: black;
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    transition: 0.5s;
}

.link:hover {
    transform: scale(1.4);
    color: #374E54;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 925px;
    padding: 0px 335px;
    position: relative;
    overflowX: scroll;
    padding-top: 50px;
}

.items__not-found {
    background-color: orange;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0px 25px;
    border-radius: 10px;
    align-self: center;
    color: #fff;
}

.item__link {
    text-decoration: none;
    color: #252525;
    margin: 10px;
    border: 1px solid gainsboro;
    width: 350px;
    height: 350px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    font-weight: 400;
    transition: 0.3s;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat center center fixed;
}

.item__link p {
    font-size: 1.1em;
}

.item__link:hover {
    background-image: none !important;
    color: #fff;
    border: none;
    background-color: orange;
}

.item__link:hover .item__description  {
    opacity: 1;
}

.item__link:hover .item__tag {
    opacity: 1;
}

.item__link:hover .item__price {
    opacity: 1;
}

.item__link:hover .item__name {
    color: #252525;
}

.item__link:hover .item__price {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 7px;
    top: 82.5%;
    left: 72%;
}

.item__poster {
    object-fit: cover;
    width; 150px;
    height: 150px;
}

.item__name {
    margin: 10px;
    font-weight: 600;
    transition: 0.5s;
    background: rgba(255,165,0, 0.8);
    border-radius: 5px;
    padding-left: 5px;
    color: #252525;
}

.item__description {
    margin: 10px;
    text-align: justify;
    word-spacing:-2px;
    opacity: 0;
}

.item__price {
    margin: 10px;
    font-weight: 500;
    position: absolute;
    left: 74%;
    top: 85%;
    background-color: rgba(255,165,0, 0.8);
    border-radius: 10px;
    padding: 7px;
    top: 82.5%;
    left: 72%;
}

.item__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item__tag {
    color: #fff;
    font-size: 0.8em !important;
    font-weight: 500;
    margin: 10px;
    opacity: 0;
    background: rgba(1, 1, 1, 0.7);
    padding: 5px;
    border-radius: 10px;
    margin: 1px;
}

.product__tag {
    color: #fff;
    font-size: 0.8em !important;
    font-weight: 500;
    margin: 1px;
    background: rgba(1, 1, 1, 0.7);
    padding: 5px;
    border-radius: 10px;
}

.product__section {
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 460px;
    height: 800px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__section p {
    font-size: 1.5em;
    margin: 10px;
}

.product__description {
    text-align: justify;
}

.product__name, .product__price {
    font-weight: 900;
}

.product__controls {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.to-cart__form .btn {
    transition: 0.3s;
    width: 205px;
    margin-bottom: 0px;
    background-color: orange;
    color: #fff;
    margin-bottom: 25px;
}

.to-cart__form .btn:hover {
    background-color: lightgreen;
    color: #252525;
}

.controls__separator {
    text-align: center;
    font-style: oblique;
    transform: rotate(10deg);
    position: absolute;
    left: 40%;
    top: 15%;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
}

.simple__page {
    padding: 50px;
    height: 881px;
    min-height: 925px;
}

.title {
    font-size: 2em;
    font-weight: 500;
}

.sub__link {
    font-size: 1.5em;
}

footer {
    background: orange;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.4s;
}

.logo:hover {
    transform: scale(1.4) translate(-25px);
    color: #374E54;
}

.pagination-section {
    position: absolute;
    bottom: -30%;
    left: 30%;
}

.pagination-link {
    background-color: orange;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.page-num-selected {
    padding: 10px 15px;
    border: 3px solid orange;
    background: #fff;
    color: orange;
}

.form__search {
    position: absolute;
    right: 3%;
    top: 6.3%;
}

.search__input {
    position: relative;
    height: 45px;
    width: 300px;
    padding: 10px 25px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-right: 0;
}

.search__input:hover {
    border-color: orange;
}

.search__input:focus {
    outline: none;
    border-color: orange;
}

.search__input:hover + .btn__search {
    background-color: orange;
    color: #fff;
}

.search__input:focus + .btn__search {
    background-color: orange;
    color: #fff;
}

.btn__search {
    height: 45px;
    width: 80px;
    position: absolute;
    right: 0;
    border: none;
    transition: 0.2s;
    font-weight: 500;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn__search:hover {
    background-color: orange;
    color: #fff;
}

/* Cart page styles */
.cart__card {

}

.cart__items {
    display: flex;
    align-items: start;
    flex-direction: row;
}

.cart__item {
    margin: 10px 0px 10px 10px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 20%;
    padding: 10px;
    height: 50px;
    font-size: 1.1em;
}

.cart__price {
    padding: 15px 10px 10px 10px;
    background-color: orange;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: 10px;
    height: 50px;
}

.cart__items .btn {
    width: 100px;
    text-align: center;
    margin: 10px 0px 0px 10px;
    height: 50px;
    padding: 0;
}

.cart__items .btn:hover {
    background-color: rgb(255,99,71);
    color: #fff;
}

/* Sidebar styles */
.sidebar {
    position: absolute;
    top: 5%;
    left: 1%;
}

.sorting__items {
    display: flex;
    flex-direction: column;
}

.sidebar {
    margin-top: 10px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    position: relative;
}

.sidebar__title {
    text-align: center;
    margin-bottom: 10px;
}

.sort__link {
    margin: 2px;
    padding: 5px;
    background-color: orange;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    flex: 1 1 10px;
    transition: 0.3s;
}

.sort__link:hover {
    translateX: (10px, 50px);
    background-color: gainsboro;
    flex: 1 1 50px;
    font-size: 1em;
}

.sidebar__btn {
    position: absolute;
    background-color: orange;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    width: 250px;
    left: 0%;
    top: 105%;
    padding: 10px 0px;
    text-align: center;
    transition: 0.3s;
}

.sidebar__btn:hover {
    color: orange;
    background-color: #fff;
    border: 1px solid gainsboro;
}

/* UI/UX elements styles */
.btn {
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.btn__primary {
    transition: 0.3s;
    border-bottom: 3px solid orange;
}

.btn__primary:hover {
    background: orange;
    color: #fff;
}

.sticky {
    position: fixed;
}

.bold {
    font-weight: 600;
}