* {
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: orange;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 10% 0 10%;
    z-index: 99;
}

.header__logo {
    position: relative;
}

.header__logo .gamepad {
    position: absolute;
    bottom: 10%;
    right: -12%;
    width: 40px;
    transform: rotate(45deg);
    transition: transform 0.5s ease;
}

.header__logo:hover .gamepad {
    animation-name: spin;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    right: -15%;
    bottom: -15%;
}

.header__logo:not(:hover) .gamepad {
    animation-name: spin-back;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 969px;
    width: 100%;
    padding: 0% 17.5%;
    position: relative;
    padding-top: 150px;
}

@media (max-width: 1600px) {
    .container {
        min-height: 900px;
    }
}

@media (max-width: 1024px) {
    .container {
        min-height: 768px;
        padding: 50px 200px;
    }
}   

@media (max-width: 768px) {
    .container {
        min-height: 768px;
        padding: 50px 150px;
    }
}


@media (min-width: 321px) and (max-width: 480px) {
    .container {
        flex-direction: column;
        padding: 50px 150px 0px 150px;
    }
}

header .link {
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    transition: 0.3s;
}

header .link:hover {
    background-color: #f7f7f7;
}

@media (min-width: 321px) and (max-width: 480px) {
    header .link {
        font-size: 1em;
    }
}

.cart__icon {
    position: relative;
    display: flex;
}

.cart__link {
    background-image: url('https://cdn-icons-png.flaticon.com/512/1170/1170678.png');
    background-size: 70%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-color: #f7f7f7;
    padding: 10px 25px !important;
    border-radius: 10px;
    margin-right: 5px !important;
}

.cart__link:hover {
    -webkit-box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.37);
    background-color: #fff;
    border-radius: 50% 50% 29% 71% / 41% 30% 70% 59%;
}

.cart__items {
    color: black;
}

.cart__amount {
    position: absolute;
    left: 65%;
    top: 5%;
    background: gainsboro;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 50%;
    font-weight: 600;
    font-size: 1.1em;
    color: #252525;
}

.cart__title {
    border: 1px solid gainsboro;
    width: 30%;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .cart__title {
        width: 40%;
    }
}

.favorite__list {
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.favorite__list .favorite__link {
    margin: 10px;
    padding: 10px;
    border: 1px solid orange;
    text-decoration: none;
    border-radius: 10px;
    color: #252525;
    font-weight: 600;
    font-size: 1.1em;
}

.favorite__link:hover {
    background-color: orange;
    color: #252525;
}

.btn__favorite {
    border: none;
    background-color: #fff;
}

.favorite__img {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    transition: 0.5s;
}

.products__page {
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: start;
}

.link:hover {
    color: #374E54;
}

.items__not-found {
    background-color: orange;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0px 25px;
    margin-bottom: 30%;
    border-radius: 10px;
    align-self: center;
    color: #fff;
    width: 75%;
}

.items__not-found .title {
    font-size: 1.5em;
    color: #252525;
}

.item__link {
    text-decoration: none;
    color: #252525;
    margin: 1%;
    border: 1px solid gainsboro;
    width: 350px;
    height: 350px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    font-weight: 400;
    transition: 0.3s;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat center center fixed;

}

@media (max-width: 1024px) {
    .item__link {
        width: 250px;
        height: 250px;
        margin: 5px;
    }
}

@media (max-width: 768px) {
    .item__link {
        width: 200px;
        height: 250px;
        margin: 5px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    
}

.item__link p {
    font-size: 1.1em;
}

.item__link:hover {
    background-image: none !important;
    color: #fff;
    border: none;
    background-color: orange;
    box-shadow: none;
}

.item__link:hover .item__platforms {
    display: none;
}

.item__link:hover .item__description  {
    opacity: 1;
}

.item__link:hover .item__tag {
    opacity: 1;
}

.item__link:hover .item__price {
    opacity: 1;
}

.item__link:hover .item__name {
    color: #252525;
    margin: 0 0 0 5px;
}

@media (max-width: 1024px) {
    .item__link:hover .item__name {
        font-size: 0.8em !important;
        margin: 0px;
    }
}

.item__link:hover .item__price, .old__price {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 7px;
    top: 82.5%;
    left: 72%;
}

.item__link:hover .old__price {
    color: #252525;
}

.item__link:hover .discount {
    left: 50%;
    background-color: yellow;
    color: #252525;
}

@media (max-width: 1024px) {
    .item__link:hover .item__price {
        left: 65%;
        top: 80%;
    }
}

@media (max-width: 768px) {
    .item__link:hover .item__price {
        left: 62%;
        top: 80%;
    }
}

.item__poster {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.item__name {
    margin: 10px;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 5px;
    padding-left: 5px;
    color: #fff;
}

@media (max-width: 768px) {
    .item__name {
        font-size: 0.9em !important;
    }
}

.item__description {
    margin: 10px;
    text-align: justify;
    word-spacing:-2px;
    opacity: 0;
}

@media (max-width: 1024px) {
    .item__description {
        font-size: 0.8em !important;
        margin: 5px;
    }
}

@media (max-width: 768px) {
    .item__description {
        font-size: 0.70em !important;
        margin: 5px;
    }
}

.item__price {
    margin: 10px;
    font-weight: 500;
    position: absolute;
    left: 74%;
    top: 85%;
    background-color: rgba(255,165,0, 0.8);
    border-radius: 10px;
    padding: 7px;
    top: 82.5%;
    left: 72%;
}

.old__price {
    padding: 7px;
    transform: scale(0.8);
    text-decoration: line-through;
    background-color: grey;
    font-weight: 600;
    color: #252525;
}

.discount {
    left: 50%;
    background-color: yellow;
}

.item__price .discount__percent {
    position: absolute;
    top: -35%;
    left: 60%;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    font-size: 0.8em !important;
}

@media (max-width: 1024px) {
    .item__price {
        left: 65%;
        top: 80%;
    }
}

@media (max-width: 768px) {
    .item__link .item__price {
        left: 55%;
        top: 80%;
    }
}

.item__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item__tag {
    color: #fff;
    font-size: 0.8em !important;
    font-weight: 500;
    margin: 10px;
    opacity: 0;
    background: rgba(1, 1, 1, 0.7);
    padding: 5px;
    border-radius: 10px;
    margin: 1px;
}

@media (max-width: 1024px) {
    .item__tag {
        font-size: 0.5em !important;
    }
}

@media (max-width: 768px) {
    .item__tag {
        font-size: 0.4em !important;
    }
}

.item__platforms {
    width: max-content;
    display: flex;
    position: absolute;
    bottom: 5%;
    border-radius: 10px;
}

.item__platform {
    height: 30px;
    background: gainsboro;
    margin-right: 5px;
    padding: 1px;
    text-align: center;
    border-radius: 10px;
}

.product {
    position: relative;
}

.product-detail__page {
    display: flex !important;
    padding-top: 0px;
}

@media (max-width: 768px) {
    .product-detail__page {
        flex-direction: column !important;
    }
}

.added_to_favorites {
    padding: 10px;
    width: auto;
    height: 40px;
    border-radius: 10px;
    font-size: 1em !important;
    font-weight: 600;
    background: orange;
    color: #fff;
}

.product__screenshots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 65.5%;
    top: 20%;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .product__screenshots {
        left: 72%;
        top: 13%;
    }
}

@media (max-width: 768px) {
    .product__screenshots {
        position: inherit;
        flex-direction: row;
        margin-top: 20px;
    }
}

.product__screenshots .screenshot {
    width: 300px;
    transition: 0.2s;
    margin: 10px;
    border-radius: 10px;
}

.product__screenshots .screenshot:hover {
    transform: scale(1.5);
    border-radius: 0px;
}

@media (max-width: 1024px) {
    .product__screenshots .screenshot {
        width: 250px;
    }
    .product__screenshots .screenshot:hover {
        transform: scale(1.21);
    }
}

@media (max-width: 768px) {
    .product__screenshots .screenshot {
        width: 220px;
    }
    .product__screenshots .screenshot:hover {
        transform: scale(1.31);
        z-index: 999;
    }
}

.product__tag {
    color: #fff;
    font-size: 0.8em !important;
    font-weight: 500;
    margin: 5px !important;
    background: rgba(1, 1, 1, 0.7);
    padding: 5px;
    border-radius: 10px;
}

.product__likes {
    margin-left: 5%;
}

.products__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product__section {
    margin: 0 auto;
    margin: 0px 0px 50px 0px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 460px;
    height: 810px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.platforms {
    margin: 15px 0px 15px 0px;
    align-self: center;
}

.platforms .platform__link {
    text-decoration: none;
    margin: 5px;
}

.platforms .platform__img {
    transition: 0.2s;
    width: 15.5%;
}

.platforms .platform__img:hover {
    transform: translate(0%, -10%);
}

@media (max-width: 1024px) {
    .product__section {
        width: 420px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .product__section {
        width: 50%;
    }
}


.product__section p {
    font-size: 1.5em;
    margin: 10px;
}

.product__description {
    text-align: justify;
}

.product__name, .product__price {
    font-weight: 900;
}

.product__discount {
    position: relative;
}

.product__discount .discount {
    padding: 5px;
    border: 1px solid #252525;
    border-radius: 10px;
    font-weight: 600;
}

.product__discount .discount__percent {
    position: absolute;
    top: -25%;
    left: 60%;
    background-color: orange;
    border-radius: 50%;
    padding: 5px 2px;
    font-weight: 600;
    font-size: 0.9em !important;
}

.row .old__price {
    font-weight: 500;
    margin: 0;
}

.product__controls {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.product__controls .sort__form .sort__tags {
    display: flex;
    flex-direction: column;
}

.product__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product__rating img {
    width: 10px;
    height: 10px;
}

.rating {
    background: orange;
    padding: 5px;
    font-size: 0.9em !important;
    font-weight: 600;
    border-radius: 5px;
}

.rating__link {
    background: orange;
    color: #252525;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
}

.to-cart__form .btn {
    transition: 0.3s;
    width: 205px;
    margin-bottom: 0px;
    background-color: orange;
    color: #fff;
    margin-bottom: 25px;
}

.to-cart__form .btn:hover {
    background-color: lightgreen;
    color: #252525;
}

.controls__separator {
    text-align: center;
    font-style: oblique;
    transform: rotate(10deg);
    position: absolute;
    left: 40%;
    top: 15%;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
}

.simple__page {
    padding: 100px;
    height: 881px;
    min-height: 925px;
    margin-bottom: 50px;
}

.title {
    font-size: 2em;
    font-weight: 500;
}

.sub__title {
    font-weight: 400;
    font-size: 1.5em;
}

.simple__link {
    font-size: 1.5em;
}

footer {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

footer .link {
    color: #fff;
    transition: 0s !important;
    margin-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

footer .link:hover {
    border-color: orange;
    color: #fff;
}

footer .footer__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 3px solid orange;
    padding-top: 35px;
    background-color: rgba(0, 0, 0, 0.8);
}

footer .footer__top .title {
    font-size: 2em;
}

.socials a {
    margin: 0px 10px 10px 0px;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.socials a:hover {
    color: orange;
}

.socials .title {
    color: #fff;
    font-size: 1.2em !important;
    margin-bottom: 10px;
}

.footer__top .center {
    display: flex;
    flex-direction: column;
}

.footer__bot {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

.footer__bot .img__payment {
    margin: 10px;
}

.img__payment {
    height: 50px;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.4s;
}

.footer__policy {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer__policy .policy__top {
    display: flex;
    justify-content: space-around;
}

.footer__policy .policy__bot {
    display: flex;
    justify-content: space-between;
    padding: 0 9.5% 2% 9.5%;
}

.footer__policy .policy__bot p, a {
    color: grey;
}

.footer__policy .policy__bot a:hover {
    color: #fff;
}

.footer__policy .policy__link {
    color: grey;
    font-weight: 400;
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 2%;
    text-decoration: none;
    padding: 10px;
    transition: 0.2s;
    border-radius: 50%;
}

.footer__policy .policy__link:hover {
    background-color: gainsboro;
    color: #252525;
    border-radius: 79% 21% 70% 30% / 46% 30% 70% 54%;
}

/* Pagination styles */
.pagination-section {
    position: absolute;
    bottom: -30%;
    left: 30%;
}

.pagination-link {
    background-color: orange;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.page-num-selected {
    padding: 10px 15px;
    border: 3px solid orange;
    background: #fff;
    color: orange;
}

.form__search {
    position: absolute;
    right: 24%;
    top: 9.5%;
    width: 52%;
}

.search__input {
    position: relative;
    height: 45px;
    width: 100%;
    padding: 10px 25px;
    border: 1px solid gainsboro;
    border-radius: 30px;
    margin-right: 0;
    opacity: 0.8;
    color: #252525 !important;
    transition: 0.4s;
}

.search__input:focus {
    opacity: 1;
    color: #252525;
    box-shadow: 0px 0px 50px 45px rgba(0,0,0,0.1);
}

.search__input::placeholder {
    text-align: center;
    font-size: 1.1em;

}

.search__input:hover {
    border-color: orange;
}

.search__input:focus {
    outline: none;
    border-color: orange;
}

.search__input:hover {
    color: #fff;
}

.search__input:focus {
    color: #fff;
}

.btn__search {
    height: 100%;
    width: 8%;
    position: absolute;
    right: 0%;
    top: 0%;
    border: none;
    transition: 0.2s;
    font-weight: 500;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: none;
}

.btn__search:hover {
    background-color: orange;
    color: #fff;
}

.search__icon {
    width: 30px;
    background-position: center;
}
/* News page styles */
.news__page {
    background-color: #dedfe1;
    padding: 100px;
    height: 881px;
    min-height: 925px;
    display: flex;
    justify-content: center;
}

.news__page .content {
    background-color: #f3f4f5;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.news__page .content .left__side {
    width: 20%;
}

.content .left__side .tags__title {
    margin: 2% 0% 5% 2%;
    font-size: 2em;
    font-weight: 400;
}

.news__page .content .tags {
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.content .tags .tag__link {
    margin: 2%;
    text-decoration: none;
    font-weight: 500;
    color: #252525;
    width: fit-content;
}

.content .tags .tag__link:hover {
    color: orange;
}

.news__page .content .right__side {
    width: 80%;
}

.content .left__side .tags__title {
    margin: 2% 0% 5% 2%;
    font-size: 2em;
    font-weight: 400;
}

.news__page .content .articles {
    width: 100%;
    padding: 1%;

}

.content .right__side .articles__title {
    margin: 5% 0% 0% 2%;
    font-size: 2em;
    font-weight: 600;
}

.articles .card {
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid gainsboro;
}

.articles .card p, a {
    margin: 5px;
}

.articles .card .article__link {
    text-decoration: none;
    color: #252525;
    font-weight: 600;
    font-size: 1.1em;
}

.articles .card .article__link:hover {
    text-decoration: underline;
    color: orange;
}


/* Reviews page styles */
.reviews__page {
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.reviews__section {
    width: 50%;
}

.reviews__section .title {
    text-align: center;
    font-weight: 600;
}

.reviews__section .poster {
    height: 150px;
    margin-left: 15px;
    border-radius: 10px;
}

.reviews__game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid gainsboro;
    padding: 15px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: none;
    margin-bottom: 0;
}

.review__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    height: auto;
    width: 100%;
    position: relative;
}

.review__card .content {
    width: 100%;
}

.review__user {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 10px;
}

.review__rate {
    background: orange;
    border-radius: 5px;
    padding: 5px 5px;
    font-weight: 600;
    width: 100%;
    max-width: 70px;
    height: 30px;
    color: #fff;
    position: absolute;
    left: 86.5%;
    top: 7%;
}

.review__text {
    text-align: justify;
    font-size: 1.1em;
}

.review__date {
    color: grey;
    font-size: 0.8em;
    text-align: right;
    margin-top: 10px;
}

/* Add review form styles */
.review__form {
    border: 3px solid orange;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: dashed orange;
    padding: 15px;
}

.review__form .radio__label {
    font-size: 1.2em;
}

.review__form .radio__label img {
    height: 15px;
    margin-left: 5px;
}

.review__form .title {
    text-align: left;
    font-size: 1.5em;
}

.review__form .btn {
    text-align: center;
}

.review__textarea {
    border: 2px solid gainsboro;
    padding: 15px;
    transition: 0.1s;
    width: 100%;
    margin: 10px 0px;
}

.review__textarea:hover, .review__textarea:focus {
    border-color: orange;
    outline: none;
}

.review__textarea:focus {
    border: 2px solid orange;
}

.custom__radio {
  width: 20px;
  height: 20px;
  accent-color: grey;
  outline: none;
  border: 2px solid blue;
}

.stars__container {
    margin: 10px 0px;
}

/* Cart page styles */
.cart__items {
    display: flex;
    align-items: start;
    flex-direction: row;
    position: relative;
}

.cart__item {
    margin: 10px 0px 10px 10px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 20%;
    padding: 10px;
    height: 50px;
    font-size: 1.1em;
}

@media (max-width: 1024px) {
    .cart__item {
        width: 35%;
    }
}


.cart__card .card__img {
    height: 100px;

}

.cart__price {
    padding: 15px 10px 10px 10px;
    background-color: orange;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: 10px;
    height: 50px;
}

.btn__cross {
    position: absolute;
    left: 23%;
    top: -15%;
    width: 30px;
    font-size: 0.8em;
    text-align: center;
    margin: 10px 0px 0px 10px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    font-weight: 600;
    border: none;
}

.cart__items .btn__cross:hover {
    background-color: rgb(255,99,71);
    color: #fff;
}

@media (max-width: 1024px) {
    .btn__cross {
        left: 41%;
        top: -20%;
    }
}

/* Sign in page styles */
.tornado__background {
    background-image: url('../vendor/sun-tornado.svg');
    background-size: cover;
    position: relative;
}

.auth__card {
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 33px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 33px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 33px 2px rgba(0,0,0,0.2);
    background: #fff;
    padding: 0.5%;
}

@media (max-width: 1600px) {
    .auth__card {
        width: 40%;
    }
}

@media (max-width: 1024px) {
    .auth__card {
        width: 70%;
    }
}

.auth__card .title {
    text-align: center;
    font-weight: 600;
}

.auth__card .btn {
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5%;
    text-align: center;
    font-size: 1.2em;
}

.login__form {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.login__input {
    padding: 15px 10px;
    border-radius: 5px;
    margin: 8px 0px;
    outline: none;
    border: 1px solid gainsboro;
    width: 100%;
}

.login__socials {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__title {
    padding-bottom: 10px;
    font-size: 1.1em;
    text-align: center;
    border-bottom: 2px solid gainsboro;
    font-weight: 500;
    color: grey;
}

.social__link {
    width: max-content;
    padding: 20px 20px;
    margin-top: 5px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: 100%;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.4s;
}

.social__link:hover {
    transform: translate(0%, -5%);
}

.github {
    background-image: url('../vendor/socials/github.svg');
}

.box {
    position: relative;
}

.form__label {
    position: absolute;
    left: 10px;
    pointer-events: none;
    transition: 150ms cubic-bezier(.4, 0, .2, 1);
    background: orange;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

.form__error {
    color: red;
}

.login-card__icon {
    position: absolute;
    width: 25px;
    transform: rotate(0.75turn);
    top: 3%;
    left: 3%;
    transition: 0.2s;
}

.login-card__icon:hover {
    background: orange;
    border-radius: 50px;
}

.login__redirect {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 5px;
}

.sub__text {
    color: grey;
    font-weight: 500;
    align-self: center;
}

.sub__link {
    color: #fff;
    font-size: 1em;
    background: orange;
    border-radius: 10px;
    margin-left: 5px;
    padding: 10px;
    font-weight: 500;
}

/* Sidebar styles */
.sidebar {
    position: absolute;
    width: 13.5%;
    top: 8.5%;
    left: 1%;
    transition: 0.2s;
}

.sidebar__hide {
    width: 9%;
    left: -5%;
    top: 15%;
    transform: rotate(-90deg);
}

.sidebar__hide .sidebar__content {
    border: none;
}

.sidebar__hide .sidebar__content .sidebar__title {
    opacity: 0;
}

.sidebar-hide__btn {
    left: 30% !important;
    width: 150px !important;
    top: 50%;
}

@media (max-width: 1024px) {
    .sidebar {
        top: 6%;
    }
}

@media (max-width: 768px) {
    .sidebar {
        top: 4.5%;
    }
}

.sidebar .btn {
    position: absolute;
    bottom: -27%;
    left: 28%;
    font-size: 1.5em;
    transition: 0.2s;
    width: 45%;
}

.sidebar .btn:hover {
    background-color: orange;
    color: #fff;
}

.sorting__items {
    display: flex;
    flex-direction: column;
}

@media (min-width: 321px) and (max-width: 480px) {
    .sorting__items {
        width:  100%;
    }
}

.sidebar__content {
    margin-top: 10px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    position: relative;
}

@media (min-width: 321px) and (max-width: 480px) {
    .sidebar__content {
        width: 120px;
        padding: 1px;
    }
}

.sidebar__title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

.sort__link {
    margin: 2px;
    padding: 5px;
    width: 100%;
    background-color: orange;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    flex: 1 1 10px;
    transition: 0.3s;
}

.sort__link:hover {
    background-color: gainsboro;
    flex: 1 1 50px;
    font-size: 1em;
}

.sidebar__btn {
    position: absolute;
    background-color: orange;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    width: 90%;
    left: 3.5%;
    top: 100%;
    padding: 10px 0px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid orange;
}

.sidebar__btn:hover {
    color: orange;
    background-color: #fff;
    border-color: gainsboro;
}

/* UI/UX elements styles */
.btn {
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.btn__primary {
    transition: 0.3s;
    border-bottom: 3px solid orange;
}

.btn__primary:hover {
    background: orange;
    color: #fff;
}

.sticky {
    position: fixed;
}

.bold {
    font-weight: 600;
}

.border__bottom {
    border-bottom: 2px solid gainsoboro;
}

.inset__shadow {
    -webkit-box-shadow: inset 2px 92px 0px -8px rgba(0,0,0,0.39);
    -moz-box-shadow: inset 2px 92px 0px -8px rgba(0,0,0,0.39);
    box-shadow: inset 2px 92px 0px -8px rgba(0,0,0,0.39);
}

@media (max-width: 768px) {
    .inset__shadow {
        -webkit-box-shadow: inset 2px 72px 0px -8px rgba(0,0,0,0.39);
        -moz-box-shadow: inset 2px 72px 0px -8px rgba(0,0,0,0.39);
        box-shadow: inset 2px 92px 0px -8px rgba(0,0,0,0.39);
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.disabled * {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.8;
}

.disabled {
    position: relative;
    border: 3px solid gainsboro;
}

.disabled .title__danger {
    position: absolute;
    top: 35%;
    left: 20%;
    width: 60%;
    font-size: 1.5em;
    font-weight: 500;
    background-color: orange;
    padding: 10px;
    opacity: 1;
    text-align: center;
    border-radius: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.border-10 {
    border-radius: 10px;
}

.hide {
    display: none;z``
}

.popup-open {
    position: fixed;
    top: 0;
    bottom 0%;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100% !important;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-open .screenshot {
    width: 65%;
    position: fixed;
    top: 13%;
    bottom 0%;
    left: 17%;
    right: 0;
}

.popup-open .screenshot:hover {
    transform: none !important;
    border-radius: 10px;
}

.popup-open .cross {
    display: block;
    position: absolute;
    font-size: 2em;
    font-weight: 600;
    top: 12%;
    right: 17%;
    z-index: 99999;
    color: #fff;
    transition: 0.1s;
}

.popup-open .cross:hover {
    cursor: pointer;
    color: rgba(255, 99, 71);
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}