{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/5968/5968350.png">
</head>
<body>
    {% include 'include/header.html' %}

    {% block content %} {% endblock %}

    {% block scripts %} {% endblock %}

    {% include 'include/footer.html' %}
</body>
</html>