<footer>
    <div class="footer__top">
        <div class="left__side">
            <a href="{% url 'index' %}" class="link">Pixel Playground</a>
        </div>
        <div class="center">
            <a href="{% url 'index' %}" class="link">Products</a>
        </div>
        <div class="right__side">
            <div class="socials">
                <p class="title">Follow us</p>
                <a href="https://www.facebook.com/" class="fa fa fa-facebook fa-2x" target="_blank"></a>
                <a href="https://www.instagram.com/" class="fa fa-instagram fa-2x" target="_blank"></a>
                <a href="https://www.youtube.com/" class="fa fa-youtube-play fa-2x" target="_blank"></a>
                <a href="https://web.telegram.org/k/" class="fa fa-telegram fa-2x" target="_blank"></a>
            </div>
        </div>
    </div>
    <div class="footer__bot">
        <div class="center">
            <img src="https://gabestore.ru/images/icons-logo-visa.svg" alt="visa-cards" class="img__payment">
            <img src="https://gabestore.ru/images/icons-logo-mastercard.svg" alt="mastercard-cards" class="img__payment">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/American_Express_logo_%282018%29.svg"
                 alt="america-express-cards"
                 class="img__payment border-10"
            >
        </div>
    </div>
</footer>