{% load static %}
<header class="sticky navbar">
    <div class="navbar__left">
        <div class="header__logo">
            <a href="{% url 'index' %}" class="logo">Pixel Playground</a>
            <img src="{% static 'vendor/gamepad.png' %}" alt="" class="gamepad">
        </div>
    </div>
    <div class="navbar__right" id="navbar">
        <a href="{% url 'cart' %}" class="link cart__link"></a>
        <a href="{% url 'index' %}" class="link">Products</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="link">Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="link">Sign In</a>
        {% endif %}
    </div>
</header>