<header class="sticky navbar">
    <div class="navbar__left">
        <a href="{% url 'index' %}" class="logo">Pixel Playground</a>
    </div>
    <div class="navbar__right" id="navbar">
        <a href="{% url 'cart' %}" class="link cart__link"></a>
        <a href="{% url 'index' %}" class="link">Products</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="link">Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="link">Sign In</a>
        {% endif %}
    </div>
</header>