{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <div class="simple__page">
        {% if items %}
        <h1 class="title cart__title">Total products: {{ items|length }}</h1>
        <div class="cart__card">
            {% for item in items %}
            <div class="cart__items">
                <p class="cart__item">{{ item }}</p>
                <p class="cart__price">{{ item.currency }}{{ item.get_price }}</p>
                <form method="post" action="{% url 'cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <button type="submit" class="btn">Delete</button>
                </form>
            </div>
            {% endfor %}
        </div>
        <h1 class="title cart__title">Total amount: ${{ total_amount }}</h1>
        {% else %}
        <h1 class="title bold">Your cart is empty, order something and come back!</h1>
        {% endif %}
    <button type="submite" id="checkout-button" class="btn btn__primary">Buy</button>
    </div>
{% endblock %}
