{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container products__page">
    {% include 'include/sidebar.html' %}
    {% include 'include/platforms_section.html' %}
    <form action="{% url 'json_filter' %}" class="form__filtering" id="filtering-form" method="get" name="filter">
            <section class="main__content">
                <div class="left">
                    <select class="select__main select">
                        <option value="price-asc">Cheapest first</option>
                        <option value="price-desc">Expensive first</option>
                        <option value="discount">Only with discount</option>
                        <option value="alphabet">By alphabet</option>
                        <option value="rating">By rating</option>
                    </select>
                    <select class="select" name="genres">
                        <option value="all-genres">All genres</option>
                        {% for genre in genres %}
                        <option name="genre" value="{{ genre.id }}">{{ genre.name }}</option>
                        {% endfor %}
                    </select>
                    <select class="select">
                        <option>All prices</option>
                        <option value="up-to-20-prices">Up to 20$</option>
                        <option value="up-to-10-prices">Up to 10$</option>
                    </select>
                </div>
                <div class="right">
                    <a href="{% url 'index' %}" class="btn-title">Clear</a>
                    <button class="btn-primary" id="open-filter-form">All filters</button>
                </div>
            </section>
            <section class="hidden__content" id="hidden-content">
                <select class="select" name="platforms">
                    <option value="all-platforms">All platforms</option>
                    {% for platform in platforms %}
                        <option value="{{ plaform.id }}" name="platform">{{ platform.name }}</option>
                    {% endfor %}
                </select>
                <select class="select" name="regions">
                    <option value="all-regions">All regions</option>
                    <option value="cis-region">Russia, Ukraine and CIS</option>
                </select>
                <select class="select" name="publishers">
                    <option value="all-publishers">All publishers</option>
                    {% for publisher in view.get_publishers %}
                        <option value="{{ publisher.id }}" name="publisher">{{ publisher.name }}</option>
                    {% endfor %}
                </select>
                <select class="select" name="developers">
                    <option value="all-developers">All developers</option>
                    {% for developer in view.get_developers %}
                        <option value="{{ developer.id }}" name="developer">{{ developer.name }}</option>
                    {% endfor %}
                </select>
                <select class="select" name="tags">
                    <option value="all-tags">All tags</option>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}" name="tag">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </section>
        </form>
    {% include 'include/catalog_popup.html' %}
    {% if items %}
    <section class="products">
        {% for item in items %}
          <a href="{{ item.get_absolute_url }}"
             class="item__link inset__shadow"
             {% if item.poster %}
             style="background-image: url('{{ item.poster.url }}')"
             {% else %}
             style="background-color: #252525"
             {% endif %}
          >
            <div class="item__card">
                <p class="item__name">{{ item.name }}</p>
                <p class="item__description">{{ item.get_short_description }}</p>
                {% if item.amount < 1 %}
                    <p class="item__sold-out">SOLD OUT</p>
                {% else %}
                {% if item.discounts.exists %}
                <div class="item__price discount">
                    <p class="discount">{{ item.get_discounted_price }}</p>
                    <p class="discount__percent">-{{ item.get_percent_discount }}</p>
                </div>
                <p class="item__price old__price">{{ item.get_price }}</p>
                {% else %}
                <p class="item__price">{{ item.get_price }}</p>
                {% endif %}
                {% endif %}
                <div class="item__platforms">
                    {% for platform in item.platform.all %}
                        <img src="{{ platform.icon.url }}" alt="{{ item.name }}-image" class="item__platform">
                    {% endfor %}
                </div>
                <div class="item__tags">
                {% for tag in item.tags.all %}
                    <p class="item__tag">{{ tag }}</p>
                {% endfor %}
                </div>
            </div>
          </a>
        {% endfor %}
    </section>
    {% else %}
    <div class="items__not-found">
        <h1 class="title bold">Sorry, but we don't have any games matching your requirements yet</h1>
    </div>
    {% endif %}
    {% include 'include/search_bar.html' %}
    <div>
</div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/IndexPage-UI.js' %}"></script>
{% endblock %}
