{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <div class="container">
      <div class="product-detail__page">
        <section class="product__section">
          <div class="product">
              <p class="product__name">{{ item.name }}</p>
              <div class="product__rating">
                  <p class="rating">
                      <img src="https://cdn-icons-png.flaticon.com/512/1828/1828961.png" alt="product-rating">
                      {% if product_rating.rate__avg %}
                        {{ product_rating.rate__avg|floatformat }} / 5
                      {% else %}
                        No one has rated yet
                      {% endif %}
                  </p>
                  <a href="{% url 'reviews' item.pk %}" class="rating__link">Rate</a>
              </div>
              <p class="product__description">{{ item.description }}</p>
              <div class="item__tags">
                  {% for tag in item.tags.all %}
                  <p class="product__tag">{{ tag }}</p>
                  {% endfor %}
              </div>
              <div class="col">
                  {% if item.discounts.exists %}
                  <div class="row">
                      <div class="product__discount">
                          <p class="discount">{{ item.get_discounted_price }}</p>
                          <p class="discount__percent">-{{ item.get_percent_discount }}</p>
                      </div>
                      <p class="product__price old__price">{{ item.get_price }}</p>
                  {% else %}
                      <p class="product__price">{{ item.get_price }}</p>
                  {% endif%}
                  </div>
                  <div class="row product__likes">
                      <form action="{% url 'add_to_favorites' item.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <input type="image" id="favorite-img" class="favorite__img" src="https://cdn-icons-png.flaticon.com/512/535/535285.png" />
                      </form>
                      <p class="added_to_favorites">{{ added_to_favorites }} &#x2764;</p>
                  </div>
              </div>
              <div class="product__controls">
                  <form action="{% url 'item_detail' item.pk %}" method="POST" class="to-cart__form">
                      {% csrf_token %}
                      <input class="btn" type="submit" value="Add to Cart">
                  </form>
                  <p class="controls__separator">OR</p>
                  <button type="submite" id="checkout-button" class="btn btn__primary">Buy</button>
              </div>
          </div>
        </section>
        <section class="product__screenshots">
            {% for screenshot in item.screenshots.all %}
                <img src="{{ screenshot.image.url }}" alt="{{ screenshot.item.name }}" class="screenshot">
            {% endfor %}
        </section>
        {% include 'include/basket.html' %}
    </div>
  </div>
    {% csrf_token %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
          fetch("{% url 'buy' item.id %}", {
            method: "POST",
            headers: {
                'X-CSRFToken': csrftoken
            }
          })
            .then(function (response) {
              return response.json();
            })
            .then(function (session) {
              return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
              if (result.error) {
                alert(result.error.message);
              }
            })
            .catch(function (error) {
              console.error("Payment error:", error);
            });
        });
    </script>
    <script src="{% static 'js/changeItemFavoriteIcon.js' %}"></script>
{% endblock %}