{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <div class="container">
        <section class="product__section">
          <div class="product">
              <p class="product__name">{{ item.name }}</p>
              <p class="product__description">{{ item.description }}</p>
              <p class="item__tags">{{ item.get_tags }}</p>
              {% if 'Euro' in item.currency %}
              <p class="product__price">€{{ item.get_price }}</p>
              {% else %}
              <p class="product__price">${{ item.get_price }}</p>
              {% endif %}
          </div>
          <button type="submite" id="checkout-button" class="btn btn__primary">Buy</button>
        </section>
    </div>
    {% csrf_token %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("{% url 'buy' item.id %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': csrftoken
        }
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Payment error:", error);
        });
    });
  </script>
{% endblock %}